h1 {
color:blue;

}

h2 {

}

.thisclass {
    font-size: x-large;
    color:purple;
}

a {
    color: black;
    font-weight: 900; 
}

a:hover {
    color: greenyellow;
    font-weight: 900;
}

#special {
    font-style: oblique; 
    background-color: aqua 
}

#special2 {
    font-style:italic;
    background-color: rosybrown; 
}

.funfact {
    width: 25%;
    color: coral;
    font-style: italic;
    text-decoration: line-through;
    background-color: aqua;
}

