header{
    text-align: center;
    background-color: teal;
    width: 80%;
    margin: 0 auto;

}

.grey_container{ 
    background-color: gray;
    text-align:center;
    width: 80%;
    margin: 0 auto; 

}

.Tortoise_1{
    display: flex;
    justify-content:center;
}
.Tortoise_Body{
    background-color:darkgreen;                                                                        
}

.Tortoise_Header{
    text-align:center;
}

body{
    background-color: salmon;
    color: white;
}

header{
    color: white;
}

.green_container{
    background-color: grey;
    text-align:center;
    width: 80%; 
    margin: 0 auto; 
    
}

.Dogs_Body{
    background-color:orange;

}

.Dogs_1{
    display: flex; 
    justify-content: center;
}

.Dogs_Header{
    text-align:center;
}

.troll_container{
    color: white;
    text-align:center;
    width:80%;
    margin: 0 auto;
background-color: navy;

}

a{
   text-decoration:none;  

}
a:hover {
    text-decoration:underline; 
}

.baldi{
    display: block;
    margin-left: auto;
    margin-right: auto;


    width:50%
}

.aboutme_h1{
    text-align:center;
}
.dogbutton{
    text-align:center;
}

.tortoisebutton{
    text-align:center;
}

.am_bulletedlist{
    text-align:center;
}
ul{
   display:inline-block;
   text-align:left;
}

.am_button{
    text-align:center;
}

.Smiles{
   display:flex;
   justify-content:center;
}
    
